<html>
<title>Princeton Peru Partnership</title>
<head>
<link rel = stylesheet href = "style.css" type = "text/css">
</head>


<div class = "superheader">
<h1 class = "superheader"> Princeton Peru Partnership</h1>
</div>





<div class = "primarytilecontainer">
	<div class = "homepagetile">
	<p class = "aboutus">
	Every Summer, one of Princeton High School's Spanish Teachers, Martha Hayden takes a few of her students on a journey that none of them will ever forget, touring her country that is full of culture and heritage...Peru. A few of us chose to stay in a small, rural village - Taray. Merely a year ago, this town faced the unthinkable, being destroyed by a deadly mudslide, leaving hundreds dead. We spent nine days helping re-build the elementary school, which had been totally devastated, forging relationships with the local kids, and finally learning about what we as a people can do for the environment. 

Energized and eager to share our stories to our families, our Peru group felt compelled to organize ourselves and create an action plan within Princeton Highschool to make this goal of giving Winaypaq a chance to look at the future with renewed optimism. The "Princeton Peru Partnership" will meet every Monday at break to coordinate this action plan. Through the course of this year, we want to: 

<ul>
<li>Raise awareness about this cause and energize Princeton High School and the community around it</li>
<li>Brainstorm fundraising ideas and conduct several fundraising events that include: Silent auctions, Bake Sales, A silent auction, Car washes, and local themed fundraising dinners, including Peruvian local specialties (The club will prioritize fundraising ideas and develop the execution plans for each event)</li>
<li>Establish partnerships with other schools such as Princeton Charter, Peddie, and other local organizations.</li>
<li>Organize a trip to Peru in early spring to deliver raised funds.</li>
</ul>


<p style="text-align: center;">If you feel to work for this noble cause, we invite you to help us!</p>

	</p>
	</div>
	</div>

</html>