<html>
<title>Upcoming Events</title>
<head><link rel = stylesheet href = "style.css" type = "text/css">
</head>
<body>
<p>
<h1 class = "subheader">Upcoming Events</h1>
</p>

<div class ="maintile">
<table cellpadding = "10"class = "eventstable">
<tr>
<th class = "eventstableheader">Event</th>
<th class = "eventstableheader">Date</th>
<th class = "eventstableheader">Place</th>
</tr>


<% @events.each do |event| %>
  <tr>
    <td class = "eventstableelement"><%=event.name%></td>
    <td class = "eventstableelement"><%=event.date%></td>
    <td class = "eventstableelement"><%=event.location%></td>
  </tr>
<% end %>


</table>



</table>


</div>






</body>
</html>