<html>
<title>Gallery</title>
<head><link rel = stylesheet href = "style.css" type = "text/css">
</head>
<body>
<p>
<h1 class = "subheader">Gallery</h1>
</p>

<div class ="maintile">
<table cellpadding = "10"class = "eventstable">
  <% @gphotos.each_slice(2) do |gphotos| %> 
    <tr>
        <%gphotos.each do |gphoto|%>
            <td class = "standardimage"><%=image_tag gphoto.avatar.url(:medium) %></td>
          <%end%>
    </tr>
    <tr>
        <%gphotos.each do |g| %>  
          <td class = "gphotocaption"><%=g.caption%></td>
        <%end%>
    </tr>
  <%end%>


</table>
</div>

</body>
</html>