<!--div id =""-->
  <tr>
    <tr>
      <td class = "updatetitle"><%=update.title%></td>
    </tr>
    <tr>
      <p>
       <td class = "updatecontent"><%=update.content%></td>
      </p>
    </tr>
    <tr>
      <td class ="updatedate"><%=update.date %></td>
    </tr>

   
  </tr>