<html>
<title>Upcoming Events</title>
<head><link rel = stylesheet href = "style.css" type = "text/css">
</head>
<body>
<p>
<h1 class = "subheader">News</h1>
</div></p>

<div class ="maintile">
<table cellpadding = "10"class = "eventstable">

<% @updates.each do |update| %>
  <%= render 'display', :update => update %>
<% end %>



</table>



</div>






</body>
</html>