/*Change the Body's background image*/
body
{
background-image: url("IMG_1882.JPG");
/*background-color: #f0f0f0;*/
}


/*For the d*/
.navbar{
background-color: #b3b3b3;
height: 200px;
width: 150px;
border-radius: 15px;
float: left;
margin-right: 15px;
margin-top: 94px;
opacity: .7;
position: fixed;
}
.navbar:hover{
opacity: .9;
}
a.navbarlink{
font-family: Helvetica Neue;
font-size: larger;
font-weight: 130;
color: white;
text-decoration: none;
}
ul.navbarlist{
list-style: none;
margin-left: 0;
margin-top: 10px;
}

/*For the title page*/	
.primarytile{
border-radius: 15px;
margin-top: 10;
/*background-color: ;*/
opacity: .8;
height: auto;
width: 750px;
margin-top: 10px;
margin-right: 4px;
margin-left: 1px;
border-style: solid;
border-radius: 15px;
float: right;
font-family: Helvetica Neue;
color: #b3b3b3;
font-weight: 100;
}
.primarytile:hover{
opacity: 1;
filter: alpha(opacity=80);
}
h1.superheader{
font-family: Helvetica Neue;
font-weight: 100;
color: black;
font-size: xx-large;
margin-top: 18px;
margin-left: 190px;
float: right;
}
.superheader{
float: left;
}
p.aboutus{
font-family: Helvetica Neue;
font-weight: 150;
color: black;
font-size: large;
margin-left: 15px;
margin-top: 10px;
}
.headerimg{
margin-left: 0px;

}


/*For the members page*/
.oneperson{
margin-top: 10px;}
.thecrew{
margin-top: 10px;
margin-bottom: 15px;
margin-left: 15px;
margin-right: 100px;
background-color: #b3b3b3;
border-radius: 15px;
opacity: .85;
height: auto;
width: 700px;
float: right;
}
.thecrew:hover{
opacity: 1;
}
.description{
margin-left: 5px;
margin-right: 75px;
margin-top: 5px;
margin-bottom: 5px;
color: black;
float: right;
height: 150px;
width: 400px;
background-color: #e8e8e8;
border-radius: 15px;
opacity: .7;
overflow: scroll;
}
.description:hover{
opacity: .9;
}
p.describeperson{
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
font-family: Futura;
font-size: small;
color: black;
}
.peoplephoto{
opacity: .8;
height: auto;
width: auto;
float: left;
margin-top: 10px;
margin-left: 10px;
}
.peoplephoto:hover{
opacity: 1;
}

a.twitterlink{
font-family: Helvetica Neue;
font-size: inherit;
font-weight: inherit;
color: #25acf5;
text-decoration: none
}

/*Events table*/
table.eventstable{
font-family: Helvetica Neue;
font-weight: 100;
color: white;
border: "0";
margin-top: 10;
margin-left: 15px;
margin-bottom: 10px
}
td.eventstableelement{
font-family: Helvetica Neue;
font-weight: 100;
font-size:large;
font-weight: 200;
color: black;
height: 50px;
width: 75px;
margin-right: 10px;
margin-top: 5px;
}
th.eventstableheader{
font-family: Helvetica Neue;
font-weight: 200;
font-size: xx-large;
color: black;
height: 50px;
width: 75px;
margin-right: 10px;
margin-top: 10px;
}
.eventstile{
border-radius:30px;
margin-top: 10;
background-color: #b3b3b3;
opacity: .85;
height: auto;
width: 750px;
margin-top: 10px;
margin-right: 100px;
margin-left: 0px;
margin-bottom: 10px;
border-style: solid;
border-radius: 15px;
float: right;
font-family: Helvetica Neue;
color: white;
font-weight: 100;
}
.homepagetile{
border-radius:30px;
margin-top: 10;
background-color: #b3b3b3;
opacity: .85;
height: auto;
width: 750px;
margin-top: 28px;
margin-right: 100px;
margin-left: 0px;
margin-bottom: 10px;
border-style: solid;
border-radius: 15px;
float: right;
font-family: Helvetica Neue;
color: white;
font-weight: 100;
}
.eventstile:hover{
opacity: 1;
filter: alpha(opacity=80);
}
td.updatetitle{
font-family: Helvetica Neue;
font-weight: 100;
font-size:large;
font-weight: 200;
color: black;
margin-right: 10px;
margin-top: 5px;
}
td.updatecontent{
font-family: Helvetica Neue;
font-weight: 100;
font-size:small;
font-weight: 200;
height: 20px;
color: white;
margin-left: 20px;
float: left;
}
td.updatedate{
font-family: Helvetica Neue;
font-weight: 300;
font-size: x-small;
color: black;
float: right;
margin-right: 50px;
margin-bottom: 20px;
}
/*Photo Gallery Page*/
.photogallery{
height: 100%;
border-radius: 15px;
margin-top: 10;
/*background-color: ;*/
opacity: .8;
width: 750px;
margin-top: 10px;
margin-right: 4px;
margin-left: 1px;
border-style: solid;
border-radius: 15px;
float: right;
font-family: Helvetica Neue;
color: black;
font-weight: 100;
}
td.gphotoimage{
    overflow:hidden;
}
.gphotocaption{
   font-family: Helvetica Neue;
    font-weight: 100;
    font-size:small;
    font-weight: 200;
    height: 20px;
    color: white;
 }