<div class = "headerimg">
  <%= image_tag "logo.jpeg", :size => "225x225", :alt => "PrincetonPeruPartnership" %>
  <!-- BANNER GOES HERE-->
</div>

    <h1 class = "superheader"> Princeton Peru Partnership</h1>
