<div class = "navbar">
<ul class = "navbarlist">
<li><a class = "navbarlink" href = "/">Home Page</a></li>
<li><a class = "navbarlink" href = "/news">News</a></li>
<li><a class = "navbarlink" href = "/crew">The Crew</a></li>
<li><a class = "navbarlink" href = "/events">Upcoming Events</a></li>
<li><a class = "navbarlink" href = "/gallery">Gallery</a></li>
<li><a class = "navbarlink" href = "/products">Silent Auction</a></li>
<li><a class = "navbarlink" href = "/donate">Donate</a></li>
</div>